.special-label {
    display: block;
    margin: 0 0 4px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.92857143em;
    font-weight: 700;
    text-transform: none;
}

.field.feeStyle div.ui.left.icon input[type='text'] {
    background-color: rgb(87 194 226 / 20%);
    color: #134469;
    font-weight: bold;
    font-size: large;
}
.three.wide.field.firstName div.ui input[type='text'] {
    /* background-color: rgb(87 194 226 / 20%); */
    color: #134469;
    font-weight: bold;
    font-size: large;
}

.four.wide.field.firstName div.ui input[type='text'] {
    /* background-color: rgb(87 194 226 / 20%); */
    color: #134469;
    font-weight: bold;
    font-size: large;
}
.five.wide.field.firstName div.ui input[type='text'] {
    /* background-color: rgb(87 194 226 / 20%); */
    color: #134469;
    font-weight: bold;
    font-size: large;
}

.three.wide.field.lastName div.ui input[type='text'] {
    /* background-color: rgb(87 194 226 / 20%); */
    color: #134469;
    font-weight: bold;
    font-size: large;
}

.four.wide.field.lastName div.ui input[type='text'] {
    /* background-color: rgb(87 194 226 / 20%); */
    color: #134469;
    font-weight: bold;
    font-size: large;
}

.five.wide.field.lastName div.ui input[type='text'] {
    /* background-color: rgb(87 194 226 / 20%); */
    color: #134469;
    font-weight: bold;
    font-size: large;
}

.two.wide.field.memberAccount div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
}
.two.wide.field.memberRecord div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.three.wide.field.memberAccount div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}
.three.wide.field.memberRecord div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.four.wide.field.memberAccount div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
}
.four.wide.field.memberRecord div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.four.wide.field.lastDateBuy div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.three.wide.field.lastDateBuy div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}
.two.wide.field.lastDateBuy div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.three.wide.field.memberSince div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.four.wide.field.memberSince div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.three.wide.field.todayDate div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.four.wide.field.todayDate div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.five.wide.field.todayDate div.ui input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.two.wide.field.lastGallon div.ui.focus.left.icon input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.two.wide.field.totalMemberGallon div.ui.focus.left.icon input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.three.wide.field.totalMemberGallon div.ui.focus.left.icon input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.three.wide.field.totalMember div.ui.focus.left.icon input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
    background-color: rgb(87 194 226 / 20%);
    /* background-color: rgb(54 169 164 / 96%); */
}

.two.wide.field.lastGallon div.ui.focus.left.icon input[type='text'] {
    /* background-color: rgb(87 194 226 / 20%); */
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}
.three.wide.field.lastGallon div.ui.focus.left.icon input[type='text'] {
    /* background-color: rgb(87 194 226 / 20%); */
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.two.wide.field.gallonLeft div.ui.focus.left.icon input[type='text'] {
    /* background-color: rgb(87 194 226 / 20%); */
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.three.wide.field.gallonLeft div.ui.focus.left.icon input[type='text'] {
    /* background-color: rgb(87 194 226 / 20%); */
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.two.wide.field.renewGallon div.ui.focus.left.icon input[type='number'] {
    /* background-color: rgb(87 194 226 / 20%); */
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
    background-color: rgb(87 194 226 / 20%);
}
.three.wide.field.renewGallon div.ui.focus.left.icon input[type='number'] {
    /* background-color: rgb(87 194 226 / 20%); */
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
    background-color: rgb(87 194 226 / 20%);
}

.two.wide.field.buyGallon div.ui.focus.left.icon input[type='number'] {
    /* background-color: rgb(87 194 226 / 20%); */
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
    background-color: rgb(87 194 226 / 20%);
}
.three.wide.field.buyGallon div.ui.focus.left.icon input[type='number'] {
    /* background-color: rgb(87 194 226 / 20%); */
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
    background-color: rgb(87 194 226 / 20%);
}

.field.FindPhone div.ui.large.input input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: #134469;
    /* color: rgb(49 71 99 / 96%); */
    background-color: rgb(87 194 226 / 20%);
}

.field.FindMembership div.ui.large.input input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: #134469;
    /* color: rgb(49 71 99 / 96%); */
    background-color: rgb(87 194 226 / 20%);
}

.field.FindName div.ui.large.input input[type='text'] {
    font-weight: bold;
    font-size: large;
    color: #134469;
    /* color: rgb(49 71 99 / 96%); */
    background-color: rgb(87 194 226 / 20%);
}

.four.wide.field.searchMe div.ui.focus.icon input[type='text'] {
    background-color: rgb(87 194 226 / 20%);
    font-weight: bold;
    font-size: large;
    color: rgb(49 71 99 / 96%);
}

.tint.icon {
    /* color: rgb(49 71 99 / 96%); */
    color: rgb(87 194 226 / 95%);
}
.theme.icon {
    color: rgb(8 56 107);
}

.positive.center.aligned.RenewGallon {
    /* font-weight: bold;
    font-size: large; */
    color: 'olive';
    /* background-color: #2185d0 !important; */
}

/* .positive.center.aligned.GallonBuy {
    font-weight: bold;
    font-size: large;
} */

td.center.aligned.RenewGallon {
    color: 'blue';
}

/* .InvoiceCell {
    font-weight: bold;
    font-size: large;
} */
